# Python / PyCharm / VS Code
__pycache__/
*.py[cod]
*$py.class
*.pyc
venv/
env/
.venv/

# IDE & Editor Configurations
.vs/
.vscode/
.idea/

# Database files
seed_db.py
*.db
*.sqlite3
*.sqlite

# Data and Document files (PDF, CSV, etc.)
*.pdf
*.csv
*.xlsx
*.xls

# Local Folders for Imports, Exports and Invoices
/imports/
/exports/
/invoices/


# System Files
.DS_Store
Thumbs.db
ehthumbs.db